.champsQst {
  font-size: 30px;
  font-family: "chango";
  color: var(--Main-Font-Color);
  max-width: 1100px;
  margin: 10px;
  transition: 2s;
  text-align: center;
  transform: translateY(-320px);
  text-shadow: 5px 2px 1px black;

  animation-duration: 1000;
}

@media (min-width: 500px) and (max-width: 676px) {
  .champsQst {
    font-size: 26px;
    font-family: "chango";
    color: var(--Main-Font-Color);
    max-width: 650px;
    margin: 2px;
    text-align: center;
    text-shadow: 5px 2px 1px black;
    transform: translateY(-320px);
  }
}
@media (max-width: 500px) {
  .champsQst {
    font-size: 22px;
    font-family: "chango";
    color: var(--Main-Font-Color);
    max-width: 380px;
    margin: 2px;
    text-align: center;
    text-shadow: 5px 2px 2px black;
    transform: translateY(-320px);
  }
}
